<div>
    <a href="/">Dida's Store</a>
    <nav class="navbar">
        <ul class="nav-links">
            <li>Hola</li>
            <li>Hola</li>
            <li>Hola</li>
        </ul>
    </nav>
</div>