<div class="container">
  <div class="nav-header">
    <a href="/">Dida's Store</a>
    <a href="/product/new">Add Product</a>
  </div>
  <nav class="navbar">
    <ul class="nav-links">
      <% categories.forEach((category) => { %>
      <li>
        <a href="/category/<%= category.category_id %>"
          ><%= category.category_name %></a
        >
      </li>
      <% }) %>
    </ul>
  </nav>
</div>
