body {
  background-color: #f6f6f6;
  font-family: "Open Sans", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 225px);
  object-fit: cover;
  justify-items: center;
  justify-content: center;
  gap: 20px 10px;
}

.product-card {
  width: 225px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  padding-top: 15px;
  border-radius: 8px;
}

.card-img-container {
  display: flex;
  justify-content: center;
}

.product-card img {
  max-width: 200px;
  max-height: 160px;
}

.card-footer {
  padding: 10px;
}

.blue-btn {
  background-color: #00b7ff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.product-detail-img{
    height: 300px;
}

.product-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-error-message{
  color: tomato;
}